<?xml version="1.0" encoding="UTF-8"?>
<contexts type="array">
  <context>
    <type>LocationContext</type>
    <value>Home</value>
  </context>
  <context>
    <type>LocationContext</type>
    <value>Office</value>
  </context>
</contexts>