%contexts{:type => "array"}
  -if result.length > 0 
    -result.each do |context|
      %context
        %timestamp{:type => "datetime"}=Time.now
        %type=context["contextType"]
        %value=context["contextName"]
  -else 
    %context
      %timestamp{:type => "datetime"}=Time.now
      %type No Context Found
      %value No ContextType found